<web-app  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
    http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

	<display-name>Blog</display-name>
 <!-- 配置spring容器的路径 -->
  <context-param>
  		<param-name>contextConfigLocation</param-name>
  		<param-value>
  		classpath*:/spring-context-redis.xml,
  		classpath*:/spring-context-shiro.xml,
  		classpath*:/spring-context.xml,
  		classpath*:/spring-soap-server.xml
  		</param-value>
  </context-param>
  <!-- 对spring开始监听 -->
  <listener>
  	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!-- 设置字符编码的过滤 -->
  <filter>
  	<filter-name>encodingFilter</filter-name>
  	<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
  	<!-- 设置编码方式 -->
  	<init-param>
  		<param-name>encoding</param-name>
  		<param-value>UTF-8</param-value>
  	</init-param>
  	<!-- 是否覆盖代码中字符编码的设置     true为覆盖 -->
  	<init-param>
  		<param-name>forceEncoding</param-name>
  		<param-value>true</param-value>
  	</init-param>
  </filter>
  
  <filter-mapping>
  	<filter-name>encodingFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
 	<!-- MVC Servlet
 	设置springmvc的Servlet
  	-->
 <servlet>
 	<servlet-name>springServlet</servlet-name>
 	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
 	<init-param>
 		<param-name>contextConfigLocation</param-name>
 		<param-value>classpath:springmvc.xml</param-value>
 	</init-param>
 	<load-on-startup>1</load-on-startup>
 </servlet>
  <servlet-mapping>
 	<servlet-name>springServlet</servlet-name>
 	<url-pattern>/</url-pattern>
 </servlet-mapping>
 
 <!-- 设置REST风格的请求
 	能够将POST请求转化为 DELETE 或者是PUT请求.
 	:通过在表单的input的name为_method,值为DELETE或者是PUT进行指定
  -->
 	<filter>
 		<filter-name>hiddenHttpMethodFilter</filter-name>
 		<filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
 	</filter>
 	
 	<filter-mapping>
		<filter-name>hiddenHttpMethodFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
 <!-- shiro -->
 	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
    <!-- validate -->
    <servlet>
    	<servlet-name>validate</servlet-name>
    	<servlet-class>com.yonyou.hotusm.common.servlet.ValidateCodeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>validate</servlet-name>
    	<url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    
    <!-- CXF -->
    <servlet>
    	<servlet-name>CXFServlet</servlet-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>2</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>CXFServlet</servlet-name>
		<url-pattern>/cxf/*</url-pattern>
	</servlet-mapping>
	
	
	<error-page>
		<error-code>404</error-code>
		<location>/WEB-INF/views/module/error/404.jsp</location>
	</error-page>
	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/views/module/error/500.jsp</location>
	</error-page>

</web-app>